body {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

h2,
h3,
h4 {
  font-weight: lighter;
}

google-map {
  width: 100%;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
}
td {
  text-align: center;
  padding: 0.5rem;
  border-collapse: separate;
}

th {
  text-align: center;
  padding: 0.5rem 1.5rem 0;
  border-collapse: separate;
}
.frame {
  margin: 1rem;
}

.pac-container {
  z-index: 9999!important;
}