<section class="navigation-container">
    <div class="navigation-bar">
      <div class="bar-button" routerLink="/home">
        <input class="button" id="tab-1" type="radio" name="tabs" (click)="clickHandler('places')" checked />
        <label for="tab-1" ><fa-icon [icon]="faLandmark" size="xl" />Paikat</label>
      </div>
  
      <div class="bar-button" routerLink="/home">
        <input class="button" id="tab-2" type="radio" name="tabs" (click)="clickHandler('activities')" />
        <label for="tab-2"><fa-icon [icon]="faPersonBiking" size="xl" />Aktiviteetit</label>
      </div>
  
      <div class="bar-button" routerLink="/home">
        <input class="button" id="tab-3" type="radio" name="tabs" (click)="clickHandler('events')"/>
        <label for="tab-3"><fa-icon [icon]="faMasksTheater" size="xl" />Tapahtumat</label>
      </div>
    </div>
  </section>
  