<section class="header-container">
  <h2><fa-icon [icon]="faMapLocationDot"></fa-icon> Karttasovellus</h2>

  <a class="button-user"><fa-icon [icon]="faUser" size="xl"></fa-icon></a>
  <a class="button-bar"><fa-icon [icon]="faBars" size="xl"></fa-icon></a>

  <!--<a [routerLink]="['']"></a>-->
</section>
<div class="dropdown">
  <button
    class="btn btn-secondary dropdown-toggle"
    type="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item">Action</a></li>
    <li><a class="dropdown-item">Another action</a></li>
    <li><a class="dropdown-item">Something else here</a></li>
  </ul>
</div>
