<section class="footer-container">
    <table>
        <tr>
            <th><a class="button"><fa-icon [icon]="faLandmark" size="xl"></fa-icon></a></th>
          <th><a class="button"><fa-icon [icon]="faPersonBiking" size="xl"></fa-icon></a></th>
          <th><a class="button"><fa-icon [icon]="faMasksTheater" size="xl"></fa-icon></a></th>
        </tr>
        <tr>
          <td>Paikat</td>
          <td>Aktiviteetit</td>
          <td>Tapahtumat</td>
        </tr>
      </table>

    </section>

