.container {
  margin: 0.5rem
}

h2 {
  margin: 0;
  font-weight: bold;
}

.address {
  font-weight: bold;
}

img {
    height: auto;
    max-width: 200px;
    float: right;
    padding: 0 0 0.5rem 0.5rem;
}