<google-map
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  [height]="height"
  [width]="width">

<map-marker #userLocationMarker *ngIf="userCurrentLocation"
  [position]="center"
  [options]="userMarkerOptions"
  [title]="userTitle">
</map-marker>

<div *ngIf="showActivitiesMarkers">
<map-marker #activityMarker="mapMarker"
  *ngFor="let activity of activityLocations"
  [position]="activity.position"
  [options]="activityMarkerOptions"
  [title]="activity.name"
  (mapClick)="openInfoWindow(activityMarker, activity)">
</map-marker>
</div>

<div *ngIf="showEventsMarkers">
<map-marker #eventMarker="mapMarker"
  *ngFor="let event of eventLocations"
  [position]="event.position"
  [options]="eventMarkerOptions"
  [title]="event.name"
  (mapClick)="openInfoWindow(eventMarker, event)">
</map-marker>
</div>

<div *ngIf="showPlacesMarkers">
<map-marker #placeMarker="mapMarker"
  *ngFor="let place of placeLocations"
  [position]="place.position"
  [options]="placeMarkerOptions"
  [title]="place.name"
  (mapClick)="openInfoWindow(placeMarker, place)">
</map-marker>
</div>

<map-info-window #infoWindow="mapInfoWindow"
  [options]="infoWindowOptions">
  <div class="container" *ngIf="selectedMarker">
    <h2>{{ selectedMarker.name }}</h2>
    <article class="text">
      <img src="{{ selectedMarker.image }}" alt="">
      <p>{{ selectedMarker.about }}</p>
      <p class="address">{{ selectedMarker.address.street_address }}, {{ selectedMarker.address.postal_code }}, {{ selectedMarker.address.city }}</p>
      <a href="{{ selectedMarker.url }}">Kotisivu</a>
      <p class="tags">Avainsanat: {{ selectedMarker.tags.join(', ') }}</p>
    </article>
  </div>
</map-info-window>

</google-map>