<google-map
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  [height]="height"
  [width]="width">

<map-marker #userLocationMarker *ngIf="userCurrentLocation"
  [position]="center">
</map-marker>

<map-marker *ngFor="let activity of activityLocations"
  [position]="activity.position"
  [options]="activityMarkerOptions"
  [title]="activity.name">
</map-marker>

<map-marker *ngFor="let event of eventLocations"
  [position]="event.position"
  [options]="eventMarkerOptions"
  [title]="event.name">
</map-marker>

<map-marker *ngFor="let place of placeLocations"
  [position]="place.position"
  [options]="placeMarkerOptions"
  [title]="place.name">
</map-marker>

</google-map>
