<section class="map-container">

<input
    id="search"
    type="text"
    #search
    placeholder="Vapaa sijaintihaku..."
/>

<google-map
  [zoom]="dataService.zoom"
  [center]="dataService.pan"
  [options]="dataService.options"
  [height]="dataService.height"
  [width]="dataService.width">

<map-marker #userLocationMarker *ngIf="userCurrentLocation"
  [position]="dataService.center"
  [options]="userMarkerOptions"
  [title]="userTitle"
  (mapDragend)="onMarkerDragEnd($event)">
</map-marker>

<div *ngIf="showActivitiesMarkers">
<map-marker #activityMarker="mapMarker"
  *ngFor="let activity of dataService.activityMarkerInfo; let i = index"
  [position]="activity.position"
  [options]="activityMarkerOptions"
  [title]="activity.name"
  (mapClick)="openInfoWindow(activityMarker, activity)">
</map-marker>
</div>

<div *ngIf="showEventsMarkers">
<map-marker #eventMarker="mapMarker"
  *ngFor="let event of dataService.eventMarkerInfo; let i = index"
  [position]="event.position"
  [options]="eventMarkerOptions"
  [title]="event.name"
  (mapClick)="openInfoWindow(eventMarker, event)">
</map-marker>
</div>

<div *ngIf="showPlacesMarkers">
<map-marker #placeMarker="mapMarker"
  *ngFor="let place of dataService.placeMarkerInfo; let i = index"
  [position]="place.position"
  [options]="placeMarkerOptions"
  [title]="place.name"
  (mapClick)="openInfoWindow(placeMarker, place)">
</map-marker>
</div>

<map-info-window #infoWindow="mapInfoWindow"
  [options]="infoWindowOptions">
  <div class="info-container" *ngIf="selectedMarker">
    <article class="text">
      <p class="info-header">{{ selectedMarker.name }}</p>
      <!--<p class="about">{{ selectedMarker.about }}</p>-->
      <p class="address">{{ selectedMarker.address.street_address }}, {{ selectedMarker.address.postal_code }} {{ selectedMarker.address.city }}</p>
      <!--<a class="link" href="{{ selectedMarker.url }}">Kotisivu</a>-->
    </article>
    <div *ngFor="let tag of selectedMarker.tags" class="badge bg-info">{{ tag }}</div>
    <!--<figure><img src="{{ selectedMarker.image }}" alt="photo"></figure>-->
  </div>
</map-info-window>

</google-map>

</section>
