<section class="list-container">
<div class="frame">
    <!-- Paikat lista -->
    <section *ngIf="(selection | async) == 'places'">
        <h3>Paikat</h3>
        <app-helsinki-list-item *ngFor="let place of dataService.places; index as i" [data]="place"
            [type]="'Places'"></app-helsinki-list-item>
        <div *ngIf="!dataService.places || dataService.places.length === 0">
            Emme löytäneet paikkoja läheltäsi.
        </div>
    </section>
    <!-- Aktiviteetit lista -->
    <section *ngIf="(selection | async) == 'activities'">
        <h3>Aktiviteetit</h3>
        <app-helsinki-list-item *ngFor="let activity of dataService.activities; index as i" [data]="activity"
            [type]="'Activities'"></app-helsinki-list-item>
        <div *ngIf="!dataService.activities || dataService.activities.length === 0">
            Emme löytäneet paikkoja läheltäsi.
        </div>
    </section>
    <!-- Tapahtumat lista -->
    <section *ngIf="(selection | async) == 'events'">
        <h3>Tapahtumat</h3>
        <app-helsinki-list-item *ngFor="let event of dataService.events; index as i" [data]="event"
            [type]="'Events'"></app-helsinki-list-item>
        <div *ngIf="!dataService.events || dataService.events.length === 0">
            Emme löytäneet paikkoja läheltäsi.
        </div>
    </section>
</div>
</section>
