<section class="list-container container">
<div class="frame">
    <!-- Paikat lista -->
    <section *ngIf="(selection | async) == 'places'">
        <h3>Paikat</h3>
            <app-helsinki-list-item *ngFor="let place of dataService.favoritePlaces; index as i" [favorite]="true" [data]="place"
            [type]="'Place'"></app-helsinki-list-item>
        <app-helsinki-list-item *ngFor="let place of dataService.places; index as i" [favorite]="false" [data]="place"
            [type]="'Place'"></app-helsinki-list-item>
        <div *ngIf="!dataService.places || dataService.places.length === 0">
            Emme löytäneet paikkoja läheltäsi.
        </div>
    </section>
    <!-- Aktiviteetit lista -->
    <section *ngIf="(selection | async) == 'activities'">
        <h3>Aktiviteetit</h3>
        <app-helsinki-list-item *ngFor="let activity of dataService.favoriteActivities; index as i" [favorite]="true" [data]="activity"
            [type]="'Activity'"></app-helsinki-list-item>
        <app-helsinki-list-item *ngFor="let activity of dataService.activities; index as i" [favorite]="false" [data]="activity"
            [type]="'Activity'"></app-helsinki-list-item>
        <div *ngIf="!dataService.activities || dataService.activities.length === 0">
            Emme löytäneet paikkoja läheltäsi.
        </div>
    </section>
    <!-- Tapahtumat lista -->
    <section *ngIf="(selection | async) == 'events'">
        <h3>Tapahtumat</h3>
        <app-helsinki-list-item *ngFor="let event of dataService.favoriteEvents; index as i" [favorite]="true" [data]="event"
            [type]="'Event'"></app-helsinki-list-item>
        <app-helsinki-list-item *ngFor="let event of dataService.events; index as i" [favorite]="false" [data]="event"
            [type]="'Event'"></app-helsinki-list-item>
        <div *ngIf="!dataService.events || dataService.events.length === 0">
            Emme löytäneet paikkoja läheltäsi.
        </div>
    </section>
</div>
</section>
