<div class="frame">
  <h3>Places</h3>
  <section *ngFor="let place of places; index as i">
    <div class="card py-3 my-4">
      <div class="card-body">
        <h5 class="card-title">{{ getPlaceName(place) }}</h5>
        <p class="card-text">{{ getPlaceDescription(place) }}</p>
        <a href="#" class="btn btn-primary me-1">Näytä kartalla</a>
        <a
          *ngIf="getPlaceHasLink(place)"
          href="{{ getPlaceLink(place) }}"
          class="btn btn-primary"
          >Kotisivut</a
        >
      </div>
    </div>
  </section>

  <div *ngIf="!places || places.length === 0">
    No places found.
  </div>

</div>

