<div class="frame">
  <h3>Places</h3>
  <section *ngFor="let place of dataService.places; index as i">
    <div class="card py-3 my-4">
      <div class="card-body">
        <h4 class="card-title">{{ getPlaceName(place) }}</h4>
        <p class="card-text">{{ getPlaceDescription(place) }}</p>
        <a href="#" class="btn btn-primary me-1">Näytä kartalla</a>
        <a
          *ngIf="getPlaceHasLink(place)"
          href="{{ getPlaceLink(place) }}"
          class="btn btn-primary"
          target="_blank"
          >Kotisivut</a
        >
      </div>
    </div>
  </section>

  <div *ngIf="!dataService.places || dataService.places.length === 0">
    Emme löytäneet paikkoja läheltäsi.
  </div>

</div>

