<section class="login-container">
<!-- Section: Design Block -->
<section class="text-center">
    <!-- Background image -->
    <div class="p-5 bg-image" style="
        background-color:#4581B6;
        height: 150px;
        "></div>
    <!-- Background image -->

    <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
        <div class="card-body py-5 px-md-5">
            <button routerLink="/home" type="button" class="btn-close position-absolute top-0 end-0 m-3" aria-label="Sulje"></button>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Kirjaudu sisään</h2>
                    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" autocomplete="off">
                        <!-- Username input -->
                        <div class="form-outline mb-4">
                            <input type="text" class="form-control" id="username" formControlName="Name" />
                            <label class="form-label" for="username">Käyttäjänimi</label>
                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-4">
                            <input type="password" id="password" class="form-control" formControlName="Password" />
                            <label class="form-label" for="password">Salasana</label>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Kirjaudu sisään</button>

                        <!-- error messages -->
                        <div *ngIf="errorMessages" class="mb-3 text-sm text-red-500">
                            <div *ngFor="let errorMessage of errorMessages">
                                <p class="text-danger">{{ errorMessage }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</section>
